<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graduate</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename = 'css/graph.css') }}">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/jsnetworkx.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script type="text/javascript">
		$(document).ready(() => {
			$("#btn_control").click(() => {
				$("#graph").toggle("slow", () => {
					var text = $("#btn_control").text();
					$("#btn_control").text(text == "Show" ? "Hide" : "Show")
					console.log();
				});
			});


			$("#btn_submit").click(function(){
				var form = $("#myform");
				var url = form.attr("action");
				var data = form.serialize();
		        var query_str = $('#query_str').val();
		        $("#mainframe").attr('src',"http://www.namu.wiki/w/"+query_str);

				$.post(url, data)
				.done(function(data) {
					var graph = new jsnx.Graph();
					graph.addNodesFrom(data.predgraph.nodes, {color: '#FFFFFF'});
					graph.addEdgesFrom(data.predgraph.edges);
					graph.addNodesFrom(data.succgraph.nodes, {color: '#000000'});
					graph.addEdgesFrom(data.succgraph.edges);
					graph.addNode(query_str, {color: '#AAAAAA'})

					var color = d3.scale.category20();
					jsnx.draw(graph, {
						element: '#graph',
						withLabels: true,
						labelStyle: {
							fill: 'black'
						},
						layoutAttr: {
							charge: -120,
							linkDistance: 20
						},
						nodeStyle: {
							fill: function(d) {
								console.log(d.data)
								return color(d.data.color)
							},
							stroke: 'none'
						},
						edgeStyle: {
							'stroke-width': 5
						}
					});

					d3.selectAll('.node').on('click', function(d) {
						$("#mainframe").attr('src',"http://www.namu.wiki/w/"+d.node);
					});
				});
			});
		});
    </script>
</head>

<body>
	<iframe id="mainframe" src="http://www.namu.wiki"></iframe>
	<div id="graph">
		<form action="/query" method="post" id="myform">
			<input type="text" id='query_str' name="query_str" value="">
			<input type="button" value="search" id="btn_submit">
		</form>
	</div>
	<button id="btn_control">Hide</button>
</body>
</html>