<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename = 'css/graph.css') }}">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/jsnetworkx.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
     <script type="text/javascript">
		$(document).ready(() => {
			$("#btn_control").click(() => {
				$("#graph").toggle("slow", () => {
					var text = $("#btn_control").text();
					$("#btn_control").text(text == "Show" ? "Hide" : "Show")
				});
			});


			$("#btn_submit").click(function(){
				var form = $("#myform");
				var url = form.attr("action");
				var data = form.serialize();
        var query_str = $('#query_str').val()
        $("#mainframe").attr('src',"http://www.namu.wiki/w/"+query_str)

				$.post(url, data)
				.done(function(data) {
          console.log(data)
          var pred_graph = new jsnx.Graph();
          var succ_graph = new jsnx.Graph();
          var pred_succ = data.split(', "/pred_succ/", ');
          var pred = pred_succ[0].split(', "/nodes_edges/", ');
          var succ = pred_succ[1].split(', "/nodes_edges/", ');
          var pred_nodes = JSON.parse(pred[0] + "]");
          var pred_edges = JSON.parse("[" + pred[1] + "]");
          var succ_nodes = JSON.parse("[" + succ[0] + "]");
          var succ_edges = JSON.parse("[" + succ[1]);
          // G.addWeightedEdgesFrom([[2,3,10]]);
          // G.addStar([3,4,5,6], {weight: 5});
          // G.addStar([2,1,0,-1], {weight: 3});
          pred_graph.addNodesFrom(pred_nodes);
          pred_graph.addEdgesFrom(pred_edges);
          succ_graph.addNodesFrom(succ_nodes);
          succ_graph.addEdgesFrom(succ_edges);

          var color = d3.scale.category20();
          jsnx.draw(succ_graph, {
              element: '#graph',
              weighted: true,
              withLabels: true,
              labelStyle: {fill: 'black'},
              layoutAttr: {
                  charge: -120,
                  linkDistance: 20
              },
              nodeAttr: {
                  r: 2,
                  title: function(d) { return d.label;}
              },
              nodeStyle: {
                  fill: function(d) {
                      return color(d.data.group);
                  },
                  stroke: 'none'
              },
              edgeStyle: {
                  'stroke-width': 5
              }
          });
          jsnx.draw(pred_graph, {
              element: '#succ',
              weighted: true,
              withLabels: true,
              labelStyle: {fill: 'black'},
              layoutAttr: {
                  charge: -120,
                  linkDistance: 20
              },
              nodeAttr: {
                  r: 2,
                  title: function(d) { return d.label;}
              },
              nodeStyle: {
                  fill: function(d) {
                      return color(d.data.group);
                  },
                  stroke: 'none'
              },
              edgeStyle: {
                  'stroke-width': 5
              }
          });
				});
			});
		});
        </script>
    <title>Graduate</title>
</head>

<body>
  <form action="/query" method="post" id="myform">
    <input type="text" id='query_str' name="query_str" value="">
  </form>
    <input type="button" value="search" id="btn_submit">
  <br>
	<div id="succ"></div>
	<iframe id="mainframe" src="http://www.namu.wiki"></iframe>
	<div id="graph"></div>
	<button id="btn_control">Hide</button>
</body>
</html>
